<div class="container">
   <div class="row">
    <article class="col-xs-12 col-md-12">
      
    <h3>Create？</h3>
      <%= form_with(model: @picture, local: true) do |form| %>
        <%= form.hidden_field :content %>
        <%= form.hidden_field :image %>
      
        <div class="field">
          <p><strong>Image:</strong></p>
          <p><%= image_tag @picture.image.url if @picture.image.present? %></p>
            <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>
        </div>

        <div class="field">
          <p><strong>Content:</strong></p>
          <p><%= @picture.content %></p>
        </div>
      
        <p><%= form.submit "投稿", :class => 'btn btn-success' %></p>
      <% end %>
    
      <br>
      
        <%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
          <%= form.hidden_field :content %>
          <%= form.hidden_field :image %>
        
          <%= link_to 'Back', name: 'back' %>
        <% end %>
    </article>
  </div>
</div>