<div class="container">
  <div class="row">
    <article class="col-xs-12 col-md-12">
    
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Content:</strong>
        <%= @picture.content %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @picture.user.name %>
      </p>

      <p>
        <strong>Image:</strong><br>
        <%= image_tag @picture.image.url %>
      </p>

    
      <% if @favorite.present? %>
        <%= link_to 'UnLike...', favorite_path(picture_id: @picture.id), method: :delete, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Likeï¼', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-danger' %>
      <% end %>
      <br>
    
      <% if @picture.user == current_user %>
        <%= link_to 'Edit', edit_picture_path(@picture) %>
      <% end %>
      |
      <%= link_to 'Back', pictures_path %>
    </article>
  </div>
</div>
